
body {
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.font_righteous {
    font-family: 'IM Fell English SC', serif;
}

.font_cabin {
    font-family: 'Cabin Sketch', cursive;
}

.font_major {
    font-family: 'Major Mono Display', monospace;
}
.bck_black {
    background: #3c3c3c;
}
.bck_white {
    background: #ffffff;
}
.bck_red {
    background: #ff4800;
}
.bck_yellow {
    background: #ffa800;
}
.bck_parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.info_para {
    background-image: url("https://shungphotography.files.wordpress.com/2017/06/dsc_3757s.jpg?w=800");
}
.iconImage {
    width: 20px;
    margin-right: 10px;
}

.center_wrapper {
    width: 900px;
    margin:0 auto;
}


/*====================
       SIDE NAV
======================*/


.side_nav {
    width: 360px;
}
.side_nav_title {
    font-size:60px;
    letter-spacing: -6px;
    line-height: 18px;
    height: 64px;
    border-bottom: 2px solid #969696 !important;
}
.side_nav_title p{
    margin: 20px auto;
    padding: 5px 8px 12px 6px;
    border: 2px dotted black;
}
.side_nav_li {
    border-bottom: 2px solid #969696 !important;
    font-family: 'Cabin Sketch', cursive;
}

.special_hover:hover {
    color: blue;

}

.side_nav_li p{
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 24px;
    
}


/*====================
        HEADER
======================*/


header {
    padding:10px 0px;
    transition: all 300ms ease-in;
}

header .header_logo {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
}
header .header_logo_venue {
    font-size: 64px;
    padding-bottom: 0;
    letter-spacing: -6px;
}

header .header_logo_title {
    font-size: 24px;
    text-transform: lowercase;
    margin-top: 6px;
    margin-left: 12px;
    line-height: 14px;
}

/*====================
        FOOTER
======================*/

footer {
    padding:50px 0px;
    text-align: center;
    font-size: 60px;
    letter-spacing: -6px;
    color:#ffffff;
}

footer .footer_copyright {
    letter-spacing: 0px;
    font-size: 18px;
}

/*====================
        CAROUSEL
======================*/


.carousel_wrapper {
    height:700px;
    overflow: hidden;
}

.carousel_image {
    background-size: cover !important;
}

.artist_name {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 160px;
    -webkit-transform: translate(-50%, -50%);  
    transform: translate(-50%, -50%);   
    border: 4px dotted #D7A858;
}

.artist_name .wrapper {
    border: 4px solid rgba(36, 36, 36, .3);
    border-radius: 70px;
    height: 160px;
    margin: 8px;
    color: #fff;
    font-size: 64px;
    padding: 21px 70px 0px 70px;
    background: rgba(0,0,0,.3);
}

/*====================
        COUNTDOWN
======================*/
.countdown_title {
    position: absolute;
    bottom: 102px;
    background:rgba(0,0,0,.3);
    border-right: 4px solid rgba(36, 36, 36, .3);
    border-top-right-radius: 35px;
    color:#ffffff;
    padding: 0 20px;
}
.countdown_title_logo {
    font-size: 24px;
    letter-spacing: -2px;
}

.countdown_wrapper {
    position:absolute;
    bottom: 0px;
    color:#ffffff;
    display:flex;
    flex-direction: row;
}

.countdown_wrapper .countdown_top {
    background:rgba(0,0,0,.3);
    padding: 10px;
    padding-left: 20px;
    display: flex;
    text-transform: uppercase;
    min-width: 75px;
}

.countdown_wrapper .countdown_bottom {
    display: flex;
    align-items: flex-end;
    background: rgba(255, 255, 224, 0.11);
    padding: 0;
    border-radius:90% 70% 150% 90% !important;
}

.countdown_wrapper .countdown_time {
    font-size: 48px;
    font-weight: 300;
    margin-right: 8px;
    padding-right: 12px;
}
.countdown_wrapper .countdown_item:last-child .countdown_time{
    border:none;
}

.countdown_wrapper .countdown_tag {
    text-transform: uppercase;
    font-size: 20px;
    padding-left: 7px;
}
.seconds_col {
    border-right: 4px solid rgba(36, 36, 36, .3);
    border-top-right-radius: 70px;
}
/*====================
        VENUE NFO
======================*/

.vn_wrapper {
    display: flex;
    padding: 170px 0px;
}

.vn_item {
    width:50%;
    color:#ffffff;
    text-align: center;
}
                      
.vn_item .vn_outer {
    width: 300px;
    border: 2px solid #828282;
    margin: auto;
    padding: 5px;
    background: #4f4f4f;
    
}

.vn_item .vn_inner { 
    position: relative;
    padding: 0px 20px;
    transition: all 500ms ease;
    background: #3e3e3e;
    height: 360px;
}
.inner_red {
    border: 2px solid #ff4800;
}

.inner_yellow {
    border: 2px solid #FEA700;
}

.vn_item .vn_inner:hover {
    background: #2c2c2c;
}

.vn_item .vn_icon_square {
    width: 100px;
    height: 100px;
    position: absolute;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -54px;
    left: 100px;
}

.vn_item .vn_icon {
    width: 50px;
    height: 50px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    position: absolute;
    top: -30px;
    left: 124px;
}

.vn_item .vn_title {
    font-size: 28px;
    margin: 90px 0px 20px 0px;
    border-bottom: 1px solid #5d5d5d;
    padding-bottom: 10px;
}

.vn_item .vn_desc {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 90px;
}

/*====================
        HIGHLIGHTS
======================*/


.highlight_wrapper h2 {
    text-align: center;
    color:#2c2c2c;
    font-size: 64px;
    letter-spacing: -2px;
}

.highlight_wrapper .highlight_description {
    line-height: 30px;
    font-size: 24px;
    font-weight: 300;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 30px 0px;
}

.discount_wrapper {
    display: flex;
    padding: 70px 0px;
}

.discount_wrapper .discount_percentage {
    padding-right: 100px;
}

.discount_wrapper .discount_percentage span:nth-child(1) {
    color: #ff4800;
    font-size: 125px;
    font-weight: 400;
    display: block;
    line-height: 120px;
}

.discount_wrapper .discount_percentage span:nth-child(2) {
    color: #2c2c2c;
    font-size: 50px;
    font-weight: 400;
    display: block;
}


.discount_wrapper .discount_description h3 {
    font-size: 34px;
    font-weight: 100;
    margin: 0px;
    color: #2c2c2c;
}

.discount_wrapper .discount_description p { 
    line-height: 30px;
    font-size: 18px;
    font-weight: 300;
}

/*====================
        PRICING
======================*/

.pricing_section {
    padding: 70px 0px;
}


.pricing_title_wrapper{
    display: flex; 
    font-size: 64px;
    align-items: center;
    border-bottom: '8px dotted #ffa800';
}

.pricing_title_logo {
    font-size: 64px;
    color: #ffffff;
    letter-spacing: -6px;
}

.pricing_title_logo_tag {
    font-size:24px;
    line-height: 14px;
    color: #ffffff;
    padding-left: 12px;
    padding-top: 6px;
}

.pricing_section h2 {
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    margin: 0;
}

.pricing_wrapper {
    display: flex;
    flex-wrap: wrap;
}
.pricing_wrapper .pricing_item{
    flex-grow: 1;
    width: 33%;
    padding: 20px;
    box-sizing: border-box;
}

.pricing_wrapper .pricing_inner_wrapper {
    border:2px solid #D7A858;
    padding: 50px 20px;
}

.pricing_inner_wrapper .pricing_title {
    color: #ffffff;
    text-align: center;
    border-bottom: 4px dotted #D7A858;
    padding-bottom: 20px;
}
.pricing_inner_wrapper .pricing_title span:nth-child(1) {
    font-size: 50px;
    display: block;
}
.pricing_inner_wrapper .pricing_title span:nth-child(2) {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 300;
}
.pricing_inner_wrapper .pricing_description {
    color: #b8b8b8;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    padding: 20px 0px;
    min-height: 70px;
}

.pricing_inner_wrapper .pricing_buttons {
     text-align: center;
}


/*====================
        LOCATION    
======================*/

.location_wrapper {
    position:relative;
}

.location_tag {
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.location_tag div{
    background: rgba(0, 0, 0, 0.527);
    color: #ffffff;
    width: 220px;
    margin: 0 auto;
    font-size: 32px;
    letter-spacing: -2px;
    padding: 12px 4px;
    text-align: center;
}